* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.header {
  position: fixed;
  width: 100%;
  background-color: rgba(12, 176, 136, 0.7);
  z-index: 1;
}

.header .navbar-light .navbar-nav .nav-link {
  color: black;
}

.header .navbar-light .navbar-nav .nav-link.active, .header .navbar-light .navbar-nav .show > .nav-link {
  color: #daa520;
}

.header .active {
  text-transform: uppercase;
}

.header__menu li a {
  font-weight: bold;
  color: black;
  font-size: 1rem;
}

.header__menu__botonReservar {
  margin-left: 10px;
  border: 3px solid #daa520;
  border-radius: 15px;
}

.header__menu__botonReservar:hover {
  background-color: #daa520;
}

.header__logo {
  width: 50px;
  height: 50px;
}

@media (max-width: 991px) {
  .header {
    position: relative;
  }
  .header__menu__botonReservar {
    margin-left: 0px;
    border: none;
    border-radius: 0px;
  }
  .header__menu__botonReservar:hover {
    background-color: transparent;
  }
}

.portada {
  padding: 0px;
}

.portada__video {
  width: 100%;
}

.introduccion {
  padding-top: 5%;
  padding-bottom: 5%;
}

.introduccion__ofertas {
  position: relative;
}

.introduccion__ofertas__boton, .introduccion__servicios__boton, .introduccion__actividades__boton {
  z-index: 1;
  position: absolute;
  left: 50px;
  top: 30px;
  background-color: #dc3545;
  color: #fff;
  display: inline-block;
  padding: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 20px;
}

.introduccion__ofertas__titulo, .introduccion__servicios__titulo, .introduccion__actividades__titulo {
  z-index: 1;
  position: absolute;
  left: 50px;
  bottom: 10%;
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
}

.introduccion__ofertas__img, .introduccion__servicios__img, .introduccion__actividades__img {
  background-image: url("../../img/introduccion__ofertas__img.jpg");
  background-color: #ccc;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  opacity: 0.9;
  -o-object-fit: cover;
     object-fit: cover;
}

.introduccion__servicios {
  position: relative;
}

.introduccion__servicios__img, .introduccion__actividades__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.introduccion__actividades {
  position: relative;
}

@media (max-width: 991px) {
  .introduccion__ofertas {
    padding-bottom: 5%;
  }
  .introduccion__servicios {
    height: 390px;
  }
  .introduccion__actividades {
    height: 390px;
  }
}

@media (max-width: 575px) {
  .introduccion__ofertas {
    height: 390px;
  }
  .introduccion__servicios {
    padding-bottom: 5%;
  }
  .introduccion__actividades {
    padding-bottom: 5%;
  }
}

@media (max-width: 320px) {
  .introduccion__ofertas__boton, .introduccion__servicios__boton, .introduccion__actividades__boton {
    left: 60px;
  }
  .introduccion__ofertas__titulo, .introduccion__servicios__titulo, .introduccion__actividades__titulo {
    text-align: center;
    left: 0px;
  }
  .introduccion__servicios__boton {
    left: 105px;
  }
  .introduccion__servicios__titulo {
    text-align: center;
    left: 50px;
  }
  .introduccion__actividades__boton {
    left: 105px;
  }
  .introduccion__actividades__titulo {
    text-align: center;
    left: 40px;
  }
}

.instalaciones {
  background-image: url(../../img/instalaciones__img.jpg);
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  padding-left: 0px;
  padding-right: 0px;
  height: 600px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.instalaciones__articulo {
  position: absolute;
  top: 100px;
  text-align: center;
}

.instalaciones__articulo__titulo {
  color: #daa520;
  font-size: 3rem;
  font-weight: bold;
}

.instalaciones__articulo__descripcion {
  color: white;
  font-size: 2rem;
  padding-left: 10%;
  padding-right: 10%;
}

.instalaciones__articulo a {
  text-decoration: none;
}

.instalaciones__articulo__boton {
  width: 300px;
  color: #fff;
  background-color: #dc3545;
  padding: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 20px;
}

@media (max-width: 768px) {
  .instalaciones__articulo__titulo {
    font-size: 2rem;
  }
  .instalaciones__articulo__descripcion {
    font-size: 1.5rem;
  }
}

@media (max-width: 375px) {
  .instalaciones__articulo__titulo {
    font-size: 1.5rem;
  }
  .instalaciones__articulo__descripcion {
    font-size: 1.3rem;
  }
  .instalaciones__articulo__boton {
    width: 200px;
  }
}

.footer {
  color: white;
  background-color: #0CB088;
  padding: 3% 10% 3% 10%;
}

.footer__logo h1 {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #daa520;
}

.footer__logo h2 {
  font-size: 1rem;
}

.footer__logo__img {
  padding-bottom: 10px;
  height: 150px;
}

.footer__logo__description {
  padding-top: 10px;
  font-size: 1.2rem;
  font-weight: bold;
}

.footer__links h1, .footer__contacts h1 {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #daa520;
}

.footer__links ul, .footer__contacts ul {
  list-style: none;
  padding-left: 0px;
}

.footer__links ul li a, .footer__contacts ul li a {
  text-decoration: none;
}

.footer__address h1 {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #daa520;
}
/*# sourceMappingURL=main.css.map */