@import "variables";
@import "inicioHabitaciones";

.mapa{

    .row{
        padding: 0px 50px 20px 50px;
    }

    &__titulo{
        @extend .habitaciones__titulo;
    }

    &__googleMap{
        padding: 0px 10% 50px 10%;
        width: 100%;
        height: 500px;    

    }
}