@import "variables";

.instalaciones{
    overflow-x: hidden;
    background-image: url(../../img/instalaciones__img.jpg);
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    height: 600px;

    &__articulo{
        width: 80%;
        padding: 10px 0px 10px 0px;
        background-color: rgba(0, 0, 0, 0.7);
        border-radius: 10px;
        margin-top: 100px;
        text-align: center;
        &__titulo{
            color: $color-dorado;
            font-size: 3rem;
            font-weight: bold;
        }
        &__descripcion{
            color: white;
            font-size: 2rem;
            padding-left: 10%;
            padding-right: 10%;
        }
        a{
            text-decoration: none;
        }
        &__boton{     
            width: 300px;
            color: #fff;
            background-color: $color-ofertas;
            padding: 10px;
            font-size: 1.2rem;
            font-weight: bold;
            text-transform: uppercase;
            border-radius: 20px;  
        }
    }
}
@media(max-width:768px){
    .instalaciones{
        &__articulo{
            &__titulo{
                font-size: 2rem;
            }
            &__descripcion{
                font-size: 1.5rem;
            }
        }
    }

}
@media(max-width:425px){
    .instalaciones{
        height: 650px;
        &__articulo{
            margin-top: 40px;
        }
    }

}

@media(max-width:375px){
    .instalaciones{
        height: 550px;
        &__articulo{           
            &__titulo{
                font-size: 1.5rem;
            }
            &__descripcion{
                font-size: 1.3rem;
            }
            &__boton{
                width: 200px;
            }
        }
    }


    @media(max-width:375px){
        .instalaciones{
            height: 600px;
            &__articulo{
                margin-top: 20px;
            }
        }
    
    }
}